.fill {
    height: 100vh;
}

.navbar {
    background-color: #00d3a5;
}

.animate {
	font-size: 50px;
}

.animate span {
	display: inline-block;
}

.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span:nth-of-type(18) {
	animation-delay: .85s;
}
.animate span:nth-of-type(19) {
	animation-delay: .9s;
}
.animate span:nth-of-type(20) {
	animation-delay: .95s;
}


.seven span {
	color: #247881;
	opacity: 0;
	transform: translate(-150px, 0) scale(.3);
	animation: leftRight .5s forwards;
}


@keyframes leftRight {
	40% {
		transform: translate(50px, 0) scale(.7);
		opacity: 1;
		color: #247881;
	}

	60% {
		color: #0f40ba;
	}

	80% {
		transform: translate(0) scale(2);
		opacity: 0;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
	}
}

.my-name {
    font-size: 4.2rem;
    margin: 25% 0 0 15%;
    font-family: Sacramento;
    color: #247881;
}

.subtitle {
    font-size: 2.1rem;
    margin: 3% 0 0 33%;
    font-family: Montserrat;
    color: #43919B;
}

.bio {
    font-family: Merriweather;
    margin: 25% 0 0;
    line-height: 3;
    color: #00424b;
}

.title {
    font-family: Montserrat;
    margin: 10% 0 0 40%;
    color: #15474d;
}

.progress-title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 0 0 20px
}

.progress {
    height: 20px;
    background: #333;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible
}

.progress .progress-bar {
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s
}

.progress .progress-value {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: black;
    position: absolute;
    top: -30px;
    right: -25px
}

.progress .progress-bar:after {
    content: "";
    display: inline-block;
    width: 10px;
    background: #fff;
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -5px;
    z-index: 1;
    transform: rotate(35deg)
}

.contact {
	font-family: Merriweather;
	margin: 5% 0 0 40%;
    line-height: 3;
    color: #00424b;
}  
  
  

/*                  ID                 */

#skills {
    padding-top: 5px;
}

#portfolio {
	padding-top: 5px;
}

#contact-me {
	padding-top: 5px;
}

#contact-btn {
	margin: 5% 0 0 45%;
}